Package: firmadigitalcr
Source: firmadigitalcr
Version: VERSION
Architecture: ARCH
Maintainer: Luis Zarate <luis.zarate@solvosoft.com>
Depends: DEPS, libc6
Section: libs
Priority: optional
Homepage: https://github.com/luisza/instaladoresFirmaDigitalCR
Description: Libs y certs de firma digital de Costa Rica
 Instala y configura los certificados digitales provistos por el Banco Central
 de Costa Rica y las bibliotecas para el correcto funcionamiento del dispositivo
 criptográfico

